extends layout.pug

block styles
    link(rel='stylesheet', href='/node-proxy/static/css/index.css')

block content
    .main-content
        .col.btn-line
            a(href="/node-proxy/help/") 帮助
        .help-content
            !=html
    script(src='/node-proxy/static/jquery/dist/jquery.min.js')
    script(src='/node-proxy/static/bootstrap/dist/js/bootstrap.min.js')
    