doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='shortcut icon' href='/noginx/static/img/noginx.ico')
        link(rel='stylesheet', href='/noginx/static/bootswatch/dist/minty/bootstrap.min.css')
        link(rel='stylesheet', href='/noginx/static/css/iconfont.css')
        link(rel='stylesheet', href='/noginx/static/css/login.css')
        title Noginx - 用户登录
    body
        .login
            .login-header
                .brand
                    span 登录到 Noginx
                .icon
            .login-content
                .form-group
                    label.iconfont.icon-seeusero(for="input-username")
                    input.form-control.form-control-lg#input-username(name="username", placeholder="用户名", autocomplete="off")
                .form-group
                    label.iconfont.icon-password(for="input-password")
                    input.form-control.form-control-lg#input-password(type="password", name="password", placeholder="密码", autocomplete="new-password")
                button.btn.btn-success.btn-block.btn-lg#btn-login 登 录
        script(src='/noginx/static/jquery/dist/jquery.min.js')
        script(src='/noginx/static/sweetalert/dist/sweetalert.min.js')
        script(src='/noginx/static/blueimp-md5/js/md5.min.js')
        script(src='/noginx/static/js/login.js')
