extends layout.pug

block styles
    link(rel='stylesheet', href='/nodeProxy/static/switchery/dist/switchery.min.css')
    link(rel='stylesheet', href='/nodeProxy/static/index.css')

block content
    .container.main-content
        .row
            .col
                if (editable)
                    button.btn.btn-primary.mr-2#btn-new-route 
                        i.iconfont.icon-add1
                        span  新增
                    .btn.btn-primary.btn-upload.mr-2
                        div
                            i.iconfont.icon-import2
                            span  导入
                        input.btn.btn-primary.mr-2#btn-import(type="file", accept=".json")
                button.btn.btn-primary.mr-2#btn-export
                    i.iconfont.icon-export
                    span  导出
        .table-responsive.mt-4
            table.table
                thead
                    tr
                        if (editable)
                            th.th-sort
                        th.text-left 路由处理
                        th.th-remarks 备注
                        th.th-active 启用
                        if (editable)
                            th.th-action 操作
                tbody.results
                    each route in routeList
                        include route-tr.pug
                tfoot(style={display: routeList.length === 0 ? 'table-row-group' : 'none'})
                    tr
                        td(colspan=5) 
                            p.no-data 无数据
    .modal.fade#route-modal
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5.modal-title 新增
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .form-group
                        label(for='input-uri') 匹配路径
                        .input-group#group-uri
                            .input-group-prepend
                                select.custom-select.form-control.prepend-select#select-type
                                    option(value='start') 开头
                                    option(value='exact') 精确
                                    option(value='regexp') 正则
                            
                            input.form-control#input-uri(placeholder="匹配开头", spellcheck="false")
                    .form-group
                        label(for='') 处理方式
                        select.custom-select.form-control.mb-3#select-process
                            option(value='static') 静态文件
                            option(value='rewrite') URL重写
                            option(value='forward') 转发
                        .input-group.my-input-group
                            .input-group-prepend
                                span.input-group-text#input-content-addon 目录：/data/nfsroot/client/static/
                            input.form-control#input-content(placeholder="剩余路径", spellcheck="false")
                            select.custom-select.form-control#select-content
                                option(value="") --请选择--
                                for server in serverList
                                    option(value=server.name)=server.name
                        .alert.alert-danger#alert-server
                            |无转发服务器，请先在 
                            a.alert-link(href="/nodeProxy/servers/") 服务器
                            |&nbsp;页面配置
                    .custom-control.custom-checkbox#group-tryFile(title="若找不到文件，则尝试发送所配置文件路径下的index.html（单页应用推荐）")
                        input.custom-control-input#check-tryFile(type="checkbox")
                        label.custom-control-label(for="check-tryFile") 启用try_file
                    .form-group
                        label(for='input-remarks') 备注
                        textarea.form-control#input-remarks(rows='3', placeholder='特别说明、示例URL等...', spellcheck="false")
                .modal-footer
                    button.btn.btn-default(type='button' data-dismiss='modal') 取消
                    button.btn.btn-primary#btn-save(type='button') 保存修改
    input#uid(type="hidden")
    input#editable(type="hidden", value=editable.toString())
    script(src='/nodeProxy/static/jquery/dist/jquery.min.js')
    script(src='/nodeProxy/static/popper.js/dist/umd/popper.min.js')
    script(src='/nodeProxy/static/bootstrap/dist/js/bootstrap.min.js')
    script(src='/nodeProxy/static/switchery/dist/switchery.min.js')
    script(src='/nodeProxy/static/table-dragger/dist/table-dragger.min.js')
    script(src='/nodeProxy/static/search.js')
    script(src='/nodeProxy/static/sweetalert/dist/sweetalert.min.js')
    script(src='/nodeProxy/static/index.js')
