extends layout.pug

block styles
    link(rel='stylesheet', href='/nodeProxy/static/index.css')

block content
    .container.main-content
        .row
            .col
                if (editable)
                    button.btn.btn-primary.mr-2#btn-new-server 
                        i.iconfont.icon-add1
                        span  新增
                    .btn.btn-primary.btn-upload.mr-2
                        div
                            i.iconfont.icon-import2
                            span  导入
                        input.btn.btn-primary.mr-2#btn-import(type="file", accept=".json")
                button.btn.btn-primary.mr-2#btn-export
                    i.iconfont.icon-export
                    span  导出
        .row.servers
            each server in serverList
                include server-item.pug
    .modal.fade#server-modal
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5.modal-title 新增
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .form-group
                        label(for='input-name') 服务器
                        input.form-control#input-name(placeholder="服务器名称", spellcheck="false")
                    .form-group
                        label(for='input-hosts') 服务器地址
                        textarea.form-control#input-hosts(rows='5', placeholder='请以http(s)开头，多个地址用换行隔开')
                    .form-group
                        label(for='input-remarks') 备注
                        textarea.form-control#input-remarks(rows='3', placeholder='备注信息', spellcheck="false")
                .modal-footer
                    button.btn.btn-default(type='button' data-dismiss='modal') 取消
                    button.btn.btn-primary#btn-save(type='button') 保存修改
    input#uid(type="hidden")
    script(src='/nodeProxy/static/jquery/dist/jquery.min.js')
    script(src='/nodeProxy/static/popper.js/dist/umd/popper.min.js')
    script(src='/nodeProxy/static/bootstrap/dist/js/bootstrap.min.js')
    script(src='/nodeProxy/static/sweetalert/dist/sweetalert.min.js')
    script(src='/nodeProxy/static/servers.js')
